.box{
width: 300px;;
margin: -5px;
margin-top: 20px;
}
.card {
    background-color: wheat;
    border-radius: 4px;
    height: 180px;
    position: relative;
    width: 180px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    margin: 0.5rem;
  }
  
  .card > .img-container {
    height: 100%;
    overflow: hidden;
    background:#6CADDC;
  }
  .card > .img-container > button > img {
    width: 100%;

  }
  img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  

  
 