.navbar{
    width: 100%;
    background-color: darkblue;
    position: fixed;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    z-index: 1;
   
}
li{
    display: inline-block;
    margin-left: 70px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    font-size: 32px;
    padding-left: 80px;


}
.score{
    float: right;
}
